<html lang="it">
<head>
  <title>Peppuz ❤️ </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="{{url_for('static', filename='gear.png')}}" />
  <link rel="icon" href="{{url_for('static', filename='gear.png')}}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet prefetch' href='http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='component.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">

  <script src="{{ url_for('static', filename='modernizr.custom.js') }}"></script>
  <script src="{{ url_for('static', filename='peppuz.js') }}"></script>

</head>

<body id="main" onload="checkCookies()">
  <section class="justify-content-center align-items-center" id="Home">
    <!-- PEPPUZ -->
    <div class="container d-flex justify-content-center" style="color:inherit">
      <div class="row">
        <div class="mx-auto">
          <p id="tap" class="tap-me float-left pt-2 active">tap me ! ></p>
          <a onclick="showPickers()" class="">
            <img class="img-fluid image p-4 mx-0" src="{{url_for('static', filename='pics/gear_white.png')}}"  style="width:100px; height:100px">
          </a>
          <a class="float-right" style="margin-left:-1rem" href="{{url_for('index')}}">
            <h1 class="pt-2" >Peppuz</h1>
          </a>
        </div>

        <div id="theme-div" class="hidden" >
          <div class="container mt-1 p-3 text-center">
            <p>Background RGB</p>
            <div class="">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-r" onchange="setBg('r', this.value)" value="#ff0000">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-g" onchange="setBg('g', this.value)" value="#ff0000">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-b" onchange="setBg('b', this.value)" value="#ff0000">
            </div>
          </div>

          <div class="text-center">
            <button type="button" onclick="setTheme(1)" name="button"></button>
            <button type="button" onclick="setTheme(2)" name="button"></button>
            <button type="button" onclick="setTheme(3)" name="button"></button>
            <button type="button" onclick="setTheme(4)" name="button"></button>
            <button type="button" onclick="setTheme(5)" name="button"></button>
          </div>

          <div class="container mt-1 p-3 text-center">
            <p>Text RGB</p>
            <div class="">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-r" onchange="setText('r', this.value)" value="#ff0000">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-g" onchange="setText('g', this.value)" value="#ff0000">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-b" onchange="setText('b', this.value)" value="#ff0000">
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Search bar -->
    <div class="container d-flex justify-content-center">
      <form class="form-group mb-5" method="GET" action="https://ddg.gg/" autocomplete="off">
        <div class="container-fluid searchbar">
          <img class="col-3 img-fluid float-left" src="{{ url_for('static', filename="pics/ddg.svg") }}">
          <input type="text" class="col-9 searchbar-input float-right p-3 mt-1" name="q" placeholder="DuckDuckGo Search..." autofocus>
        </div>
      </form>
    </div>

    <!-- Cosa vuoi fare ? Mettiamo un bloggino?  -->
    <div class="container col-xs-6 col-lg-8 offset-lg-2 row p-1 mx-auto justify-content-center">
      <!-- soundcloud songs -->
      <div class="mb-4 pt-3 col-xs-6 col-lg-4">
        <!-- TODO: Top 5 importer js with floating autoplay -->
        <iframe width="100%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/423944907&color=%23040404&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </div>

      <div class="justify-content-center mx-auto text-center col-xs-6 col-lg-4">

          <h4 class="text-center text-md-left "><span id='text'></span>&#95;</h4>

        <a class="" href="http://telegra.ph/Quanto-siamo-falsi-06-08-2">
          <h4 class="m-4 text-center text-md-left " id="messenger"></h4>
        </a>
      </div>
    </div>


    <!-- Buttons -->
    <nav class="container mt-2 text-center cl-effect-9">
      <div class="col p-2">
        <a class="linch text-center" id="Proj" href="#">Projects</a>
      </div>
      <div class="col p-2">
        <a class=" linch text-center" href="{{url_for('qrgen')}}">QR Gen</a>
      </div>
      <div class="col p-2">
        <a class="linch text-center" id="Contacts" href="#">Contacts</a>
      </div>
    </nav>

  </section>

  <section class="sct mt-5 justify-content-center align-items-center" id="Proj">
    <div class="container mx-auto text-center">
      <h3 class="Contacts">Projects</h3>
    </div>
    <div class="text-center row p-3">
      <div class="col col-lg-4 offset-lg-2">
        <a href="#"><!-- TODO: if adroid link to Google Play -->
          <img src="{{url_for('static', filename='pics/ostp_icon.png')}}" class="img-fluid w-50">
        </a>
        <p class=" text-center p-2">
          <i class="fa fa-lock"></i>
          <i class="fab  fa-app-store "></i>
          <i class="fab  fa-google-play "></i>
          <br> Orari STP 3 <br>

        </p>
      </div>

      <div class="col col-lg-4">
        <a href="{{ url_for('demcar') }}">
          <img src="{{url_for('static', filename='pics/DemCar.png')}}" class="img-fluid w-50">
        </a>
        <p class=" text-center p-2">
          <i class="fa fa-lock"></i>
          <i class="fas fa-globe "></i>
          <br>  DemCar Auto
        </p>
      </div>
    </div>

    <div class="text-center row p-3">
      <div class="col col-lg-4 offset-lg-2">
        <a href="{{url_for('ytdl')}}">
          <img src="{{url_for('static', filename='pics/ytdl.png')}}" class="img-fluid w-50">
        </a>
        <p class=" text-center p-2">
          <i class="fab fa-github"></i>
          <i class="fa fa-paper-plane"></i>

          <br> YT Downloader Bot
        </p>
      </div>

      <div class="col col-lg-4">
        <a href="#">
          <img src="{{url_for('static', filename='pics/gear_white.png')}}" class="img-fluid w-50">
        </a>
        <p class=" text-center p-2">
          <i class="fa fa-lock"></i>
          <i class="fas fa-globe "></i>
          <i class="fab fa-app-store "></i>
          <i class="fab fa-google-play "></i>
          <br> Coming Soon <br>
        </p>
      </div>
    </div>

    <div class="col m-2">
      <p class="text-center">
        Legend : <br>
        <i class="fab fa-github"></i> public | private <i class="fa fa-lock"></i><br>
        <i class="fab fa-app-store"></i> App store | Play store <i class="fab fa-google-play"></i><br>
        <i class="fas fa-globe"></i> Web Site | Telegram <i class="fa fa-paper-plane"></i>
      </p>
    </div>
  </section>

  <section class="sct mt-5 justify-content-center align-items-center" id="Contacts">
    <div class="container mx-auto text-center">
      <h3 class="Contacts">Contacts</h3>
    </div>
    <div class="container mt-5 text-center wrapper">
        <ul class="icon-circle list-unstyled list-inline  ">
          <p> Messaging | VoIP </p>
  	      <li> <a href="https://t.me/peppu_z"><i class="fab p-1 fa-3x fa-telegram "></i></a> </li>
          <li> <a href="#"><i class="fab p-1 fa-3x fa-skype"></i></a></li>

          <p> Social Media </p>
          <li> <a href="https://www.facebook.com/p3ppu"><i class="fab p-1 fa-3x fa-facebook-square"></i></a></li>
  	      <li> <a href="https://twitter.com/zuppep"><i class="fab p-1 fa-3x fa-twitter-square"></i></a></li>
          <li> <a href="https://instagram.com/peppuz_"><i class="fab p-1 fa-3x fa-instagram"></i></a></li>
          <li> <a href="https://www.linkedin.com/in/giuseppe-vitale-3b476b117/"><i class="fab p-1 fa-3x fa-linkedin-square"></i></a></li>

          <p> Sound Platforms </p>
          <li> <a href="https://www.soundcloud.com/peppu_z"><i class="fab p-1 fa-3x fa-soundcloud"></i></a></li>
          <li> <a href="https://www.youtube.com/channel/UCey78Bfv_Hr-OmSwbjzg0fA"><i class="fab p-1 fa-3x fa-youtube"></i></a></li>

          <p> Nerdy Socials </p>
          <li> <a href="https://github.com/peppuz"><i class="fab p-1 fa-3x fa-github-square"></i></a></li>
  	      <li> <a href="https://stackoverflow.org"><i class="fab p-1 fa-3x fa-stack-overflow"></i></a></li>
  	      <li> <a href="https://trello.com/"><i class="fab p-1 fa-3x fa-trello"></i></a></li>
  	  	</ul>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script type="text/javascript">
  // function([string1, string2],target id,[color1,color2])
   consoleText(['Mta-', 'Meta-Propaganda', 'Made with Love', 'Made for Progress. 💪'], 'text',['tomato','rebeccapurple','lightblue']);

  function consoleText(words, id, colors) {
    if (colors === undefined) colors = ['#fff'];
    var visible = true;
    var con = document.getElementById('console');
    var letterCount = 1;
    var x = 1;
    var waiting = false;
    var target = document.getElementById(id)
    target.setAttribute('style', 'color:' + colors[0])
    window.setInterval(function() {

      if (letterCount === 0 && waiting === false) {
        waiting = true;
        target.innerHTML = words[0].substring(0, letterCount)
        window.setTimeout(function() {
          var usedColor = colors.shift();
          colors.push(usedColor);
          var usedWord = words.shift();
          words.push(usedWord);
          x = 1;
          target.setAttribute('style', 'color:' + colors[0])
          letterCount += x;
          waiting = false;
        }, 1000)
      } else if (letterCount === words[0].length + 1 && waiting === false) {
        waiting = true;
        window.setTimeout(function() {
          x = -1;
          letterCount += x;
          waiting = false;
        }, 1000)
      } else if (waiting === false) {
        target.innerHTML = words[0].substring(0, letterCount)
        letterCount += x;
      }
    }, 120)
    window.setInterval(function() {
      if (visible === true) {
        con.className = 'console-underscore hidden'
        visible = false;

      } else {
        con.className = 'console-underscore'

        visible = true;
      }
    }, 400)
  }

  var Messenger = function(el){
    'use strict';
    var m = this;

    m.init = function(){
      m.codeletters = "&#*+%?£@§$";
      m.message = 0;
      m.current_length = 0;
      m.fadeBuffer = false;
      m.messages = [
        'Quanto siamo falsi?',
        'No? Forse ti interessa',
        'O forse no..',
        'Cliccami'
      ];

      setTimeout(m.animateIn, 250);
    };

    m.generateRandomString = function(length){
      var random_text = '';
      while(random_text.length < length){
        random_text += m.codeletters.charAt(Math.floor(Math.random()*m.codeletters.length));
      }

      return random_text;
    };

    m.animateIn = function(){
      if(m.current_length < m.messages[m.message].length){
        m.current_length = m.current_length + 2;
        if(m.current_length > m.messages[m.message].length) {
          m.current_length = m.messages[m.message].length;
        }

        var message = m.generateRandomString(m.current_length);
        $(el).html(message);

        setTimeout(m.animateIn, 20);
      } else {
        setTimeout(m.animateFadeBuffer, 20);
      }
    };

    m.animateFadeBuffer = function(){
      if(m.fadeBuffer === false){
        m.fadeBuffer = [];
        for(var i = 0; i < m.messages[m.message].length; i++){
          m.fadeBuffer.push({c: (Math.floor(Math.random()*12))+1, l: m.messages[m.message].charAt(i)});
        }
      }

      var do_cycles = false;
      var message = '';

      for(var i = 0; i < m.fadeBuffer.length; i++){
        var fader = m.fadeBuffer[i];
        if(fader.c > 0){
          do_cycles = true;
          fader.c--;
          message += m.codeletters.charAt(Math.floor(Math.random()*m.codeletters.length));
        } else {
          message += fader.l;
        }
      }

      $(el).html(message);

      if(do_cycles === true){
        setTimeout(m.animateFadeBuffer, 50);
      } else {
        setTimeout(m.cycleText, 2000);
      }
    };

    m.cycleText = function(){
      m.message = m.message + 1;
      if(m.message >= m.messages.length){
        m.message = 0;
      }

      m.current_length = 0;
      m.fadeBuffer = false;
      $(el).html('');

      setTimeout(m.animateIn, 200);
    };

    m.init();
  }
  console.clear();
  var messenger = new Messenger($('#messenger'));
  </script>

  <style>
    @font-face {
        font-family: "Soria";
        src: url({{url_for('static', filename='soria-font.ttf')}});

    }
    .customfont {
        font-family: "Soria", Verdana, Tahoma;
        font-size: 300%;
    }
    :focus {outline: none}
  </style>
  <script type="text/javascript">
    $('.linch').click(function() {
      var id = $(this).attr('id');
      console.log(id);
      $('html, body').animate({
        scrollTop: ($('#' + id + '.sct').offset().top)
      }, 1000);
    });
  </script>
</body>
</html>
