<html lang="it" dir="ltr">
  <head>
    <title>QR Generator | Peppuz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="{{url_for('static', filename='gear.png')}}" />
    <link rel="icon" href="{{url_for('static', filename='gear.png')}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='component.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <script src="{{ url_for('static', filename='modernizr.custom.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <script src="{{ url_for('static', filename='peppuz.js') }}"></script>
  </head>
  <body id="main" onload="onLoadTheme()">
    <div class="section justify-content-center align-items-center text-center">
      <div class="container d-flex justify-content-center" style="color:inherit">
        <div class="row">
          <div class="mx-auto">
            <a class="float-left" style="margin-right:-1rem" href="{{url_for('index')}}">
              <h1 class="pt-2" >Peppuz</h1>
            </a>
            <a onclick="showPickers()" class="float-">
              <img class="img-fluid image p-4 mx-0" src="{{url_for('static', filename='pics/gear_white.png')}}"  style="width:100px; height:100px">
            </a>
            <a class="float-right" style="margin-left:-1rem" href="{{url_for('qr')}}">
              <h1 style="padding-top:0.6rem" class="">QR GEN</h1>
            </a>
          </div>

          <div id="theme-div" class="hidden" >
            <div class="text-center">
              <p>Background HSL</p>
              <input class="" style="margin:2.25rem" id="bg-picker" oninput="changeTheme(this.value)" onchange="changeTheme(this.value)" type="range" min="0" max="360" value="#ff0000">
            </div>
            <div class="container mt-1 p-3 text-center">
              <p>Text RGB</p>
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-r" onchange="changeText('r', this.value)" value="#ff0000">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-g" onchange="changeText('g', this.value)" value="#ff0000">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-b" onchange="changeText('b', this.value)" value="#ff0000">
            </div>
          </div>
        </div>
      </div>

    {% if not img or error %}

        <form id="form" action="#" method="POST" class="m-3">
          <script type="text/javascript">
            let form = document.getElementById('form')

            function get_input(name) {
              let something = document.createElement('input')
              something.classList = 'searchbar row col-xs-8 col-md-6 mb-1 mx-auto'
              something.style.height = "3rem"
              something.type = "text"
              something.name = name
              something.placeholder =
                  " > " + name.charAt(0).toUpperCase() + name.slice(1);
              return something
            }

            function url() {
              let form = document.getElementById('form')
              form.innerHTML = ""
              options_gen()
              let input = document.createElement('input')
              input.classList = 'searchbar col-xs-8 col-md-6 onkeyup=""'
              input.style.height = "3rem"
              input.type = "text"
              input.name = "qr"
              input.placeholder = " > Type whatever string"

              let type_selected = document.createElement('input')
              type_selected.type = 'text'
              type_selected.innerHTML = 'url'
              type_selected.style.diplay = 'none'

              let div = document.createElement('div')
              let sub = document.createElement('button')
              sub.type = "submit"
              sub.name = "button"
              sub.classList = "qrcode"
              sub.innerHTML = '<i class="fa fa-qrcode fa-3x"></i>'
              div.classList = 'mt-3'
              div.append(sub)
              form.append(input, div)
            }

            function vcard(){
              let form = document.getElementById('form')
              console.log("Hi");
              form.innerHTML = ""
              options_gen()

              let div = document.createElement('div')
              div.classList = "container mx-auto"

              let nome = get_input("name")
              let cognome = get_input("surname")
              let numero = get_input("mobile")
              let email = get_input("email")
              let sito = get_input("website")
              let indirizzo = get_input("address")
              let citta = get_input("city")
              let nazione = get_input("nation")
              let cap = get_input("cap")
              let website = get_input("website")

              let type_selected = document.createElement('input')
              type_selected.type = 'text'
              type_selected.innerHTML = 'vcard'
              type_selected.style.diplay = 'none'

              let sub = document.createElement('div')
              sub.innerHTML = '<button type="submit" class="qrcode"><i class="fa fa-qrcode fa-3x"></i></button>'

              div.append(
                nome,
                cognome,
                numero,
                email,
                indirizzo,
                citta,
                cap,
                nazione,
                website,
                sub
              )
              form.append(div)
            }

            function wifi(){
              let form = document.getElementById('form')
              form.innerHTML = ""
              options_gen()

              let div = document.createElement('div')
              div.classList = "container mx-auto"

              let ssid = get_input("Wifi Name")
              let password = get_input("Password")
              let password_type = document.createElement('select')
              password_type.name = 'password_type'
              password_type.classList = 'mx-auto my-1'
              password_type.innerHTML = '<option value="wpa">WPA</option><option value="wep">WEP</option><option value="none">None</option>'
              // TODO: COmplete and add selectables

              let type_selected = document.createElement('input')
              type_selected.type = 'text'
              type_selected.innerHTML = 'url'
              type_selected.value = 'wifi'
              type_selected.style.opacity = '0'

              let sub = document.createElement('button')
              sub.type = "submit"
              sub.name = "button"
              sub.classList = "qrcode"
              sub.innerHTML = '<i class="fa fa-qrcode fa-3x"></i>'

              div.append(ssid, password_type, password, password_type, sub)
              form.append(div)
            }

            function options_gen() {
              let div = document.createElement('div')
              div.classList = 'container row justify-content-center mx-auto'
              div.innerHTML = `
                <button class="qr-option btn mr-1" type="button" onclick="url()" name="button"> <i class="fa fa-globe"></i> url</button>
                <button class="qr-option btn mr-1" type="button" onclick="vcard()" name="button"><i class="fas fa-address-card"></i> vcard</button>
                <button class="qr-option btn " type="button" onclick="wifi()" name="button"> <i class="fa fa-wifi"></i> wifi</button> `
              form.append(div)
            }
          </script>
          <div class="container row justify-content-center mx-auto">
            <button class="qr-option btn mr-1" type="button" onclick="url()" name="button"> <i class="fa fa-globe"></i> url</button>
            <button class="qr-option btn mr-1" type="button" onclick="vcard()" name="button"><i class="fas fa-address-card"></i> vcard</button>
            <button class="qr-option btn " type="button" onclick="wifi()" name="button"> <i class="fa fa-wifi"></i> wifi</button>
          </div>
          <input class="searchbar col-xs-8 col-md-6" style="height:3rem" type="text" name="qr" placeholder=" > Type whatever string">
          <div class="mt-3">
              {% if error %}
                <p><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
                {% endif %}
              <button type="submit" name="button" class="qrcode"><i class="fa fa-qrcode fa-3x"></i></button>
          </div>
        </form>

    {% else %}



      <div class="center">
        <div class="container mx-auto">
          <a href="{{url_for('qr')}}" class="mx-auto btn mt-3"><i class="fa fa-qrcode"> </i> Another One!</a>
        </div>
        <img src="{{url_for('static', filename=img)}}">
        <p style="color:black">data: {{data}}</p>
      </div>

    {% endif %}

    <i class="fa fa-angle-down mt-3"></i>
    <div class="container p-5">
      <h4 class="text-left"> <i class="fa fa-key"></i> Privacy is the key </h4>
      <p class="container text-left"> We dont collect any of the information submited for Privacy reasons.
        <br> We strongly believe that user data should not feed the giants that monopolized the market of ads slowly destroying the world by capitalizing.
        <br> Our views about ads market are clear, it cannot be centralized. Decentralization of ads gives automatically better quality ads because of the location that we talking about.
        <br> For more thoughts <a href="#" style="text-decoration: underline;">click here</a>
      </p>
    </div>
    </div>
  </body>
</html>
