<!DOCTYPE html>
<html lang="it" dir="ltr">

<head>
  <title>Peppuz ❤️ </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="{{url_for('static', filename='gear.png')}}" />
  <link rel="icon" href="{{url_for('static', filename='gear.png')}}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet prefetch' href='http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='component.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">

  <script src="{{ url_for('static', filename='modernizr.custom.js') }}"></script>

</head>

<body id="main">

  <section class="section justify-content-center align-items-center" id="Home">
    <!-- PEPPUZ -->
    <div class="container  d-flex justify-content-center">
      <div class="row">
        <a class="">
          <p class="float-left white tap-me">tap me! --></p>
          <img class="img-fluid image p-4 mx-0" src="{{url_for('static', filename='gear_white.png')}}"  style="width:100px; height:100px">
        </a>

        <a class="row" href="{{url_for('index')}}">
          <h1 class="white pt-2">Peppuz</h1>
        </a>
      </div>
      <div class="hidden">

      </div>

    </div>

    <!-- Search bar -->
    <div class="container d-flex justify-content-center">
      <form class="form-group" method="GET" action="https://ddg.gg/" autocomplete="off">
        <div class="container-fluid h-25 row searchbar">
          <img class="col-3 img-fluid w-25" src="{{ url_for('static', filename="ddg.svg") }}">
          <input type="text" class="col-9 searchbar-input " name="q" placeholder="DuckDuckGo Search..." autofocus>
        </div>
      </form>
    </div>

    <!-- Buttons -->
    <nav class="container text-center cl-effect-9">
      <div class="col p-2">
        <a class="linch text-center" id="Proj" href="#">Projects</a>
      </div>
      <div class="col p-2">
        <a class=" linch text-center" href="{{url_for('soundcloud')}}">Sounds</a>
      </div>
      <div class="col p-2">
        <a class=" linch text-center" href="{{url_for('qrgen')}}">QR Gen</a>
      </div>
      <!-- <div class="col p-2">
        <a class="linch text-center" id="Contacts" href="#">Contacts</a>
      </div> -->
    </nav>
  </section>

  <section class="section mt-5 justify-content-center align-items-center" id="Proj">
    <div class="text-center row p-3">
      <div class="col col-lg-4 offset-lg-2">
        <a href="#"><!-- TODO: if adroid link to Google Play -->
          <img src="{{url_for('static', filename='ostp_icon.png')}}" class="img-fluid w-50">
        </a>
        <p class="white text-center p-2">
          <i class="fa fa-lock"></i>
          <i class="fab white fa-app-store "></i>
          <i class="fab white fa-google-play "></i>
          <br> Orari STP 3 <br>

        </p>
      </div>

      <div class="col col-lg-4">
        <a href="{{ url_for('demcar') }}">
          <img src="{{url_for('static', filename='DemCar.png')}}" class="img-fluid w-50">
        </a>
        <p class="white text-center p-2">
          <i class="fa fa-lock"></i>
          <i class="fas fa-globe "></i>
          <br>  DemCar Auto
        </p>
      </div>
    </div>

    <div class="text-center row p-3">
      <div class="col col-lg-4 offset-lg-2">
        <a href="{{ url_for('fdd') }}">
          <img src="{{url_for('static', filename='fdd_logo.png')}}" class="img-fluid w-50">
        </a>
        <p class="white text-center p-2">
          <i class="fa fa-lock"></i>
          <i class="fas fa-globe "></i>
          <br> Fondo Danilo Dolci <br>
        </p>
      </div>

      <div class="col col-lg-4">
        <a href="#">
          <img src="{{url_for('static', filename='ytdl.png')}}" class="img-fluid w-50">
        </a>
        <p class="white text-center p-2">
          <i class="fa fa-github fa-2x"></i>
          <br> YT Downloader Bot
        </p>
      </div>
    </div>
  </section>

  <!-- <section class="section justify-content-center align-items-center" id="Contacts">
    <div class="container mt-5 text-center wrapper">
        <ul class="social-icons icon-circle list-unstyled list-inline  ">
  	      <li> <a href="#"><i class="fab white p-1 fa-3x fa-telegram "></i></a> </li>
          <li> <a href="#"><i class="fab white p-1 fa-3x fa-github-square"></i></a></li>
          <li> <a href="#"><i class="fab white p-1 fa-3x fa-youtube"></i></a></li>
          <li> <a href="#"><i class="fab white p-1 fa-3x fa-facebook-square"></i></a></li>
          <li> <a href="#"><i class="fab white p-1 fa-3x fa-skype"></i></a></li>
  	      <li> <a href="#"><i class="fab white p-1 fa-3x fa-twitter-square"></i></a></li>
  	      <li> <a href="#"><i class="fab white p-1 fa-3x fa-stack-overflow"></i></a></li>
          <li> <a href="#"><i class="fab white p-1 fa-3x fa-instagram"></i></a></li>
          <li> <a href="#"><i class="fab white p-1 fa-3x fa-linkedin-square"></i></a></li>
  	      <li> <a href="#"><i class="fab white p-1 fa-3x fa-trello"></i></a></li>
  	  	</ul>
    </div>
  </section> -->

  <div class="container">
    <div class="row">
      <button type="button" class="btn theme-labirit" onclick="changeTheme('Labirinto')" name="button"></button>
      <button type="button" class="btn theme- " onclick="changeTheme('Bianco Puro')" name="button"></button>
      <button type="button" class="btn theme-" onclick="changeTheme('Labirinto')" name="button"></button>
      <button type="button" class="btn theme-" onclick="changeTheme('Labirinto')" name="button"></button>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    // TODO: User theme based on cache or session
    function changeTheme(selected){
      let theme = {
          "Labirinto":"url({{url_for('static', filename='bg.jpeg')}})",
          "Biano puro":"white",
          "Nero Puro":"black"
      }
      let body = document.getElementById('main')
      switch (selected) {
        case "Labirinto":
          body.style.backgroundColor = theme[selected]
          break;
        default:
          body.classList = 'theme-black'
      }
    }
    changeTheme("Nero Puro")
  </script>
  <style>
    @font-face {
        font-family: "Soria";
        src: url({{url_for('static', filename='soria-font.ttf')}});

    }
    .customfont {
        font-family: "Soria", Verdana, Tahoma;
        font-size: 300%;
    }
    :focus {outline: none}
  </style>
  <script type="text/javascript">
    $('.linch').click(function() {
      var id = $(this).attr('id');
      console.log(id);
      $('html, body').animate({
        scrollTop: ($('#' + id + '.section').offset().top)
      }, 1000);
    });
  </script>

</body>

</html>
