<html lang="it" dir="ltr">
  <head>
    <title>QR Generator | Peppuz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="{{url_for('static', filename='gear.png')}}" />
    <link rel="icon" href="{{url_for('static', filename='gear.png')}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='component.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <script src="{{ url_for('static', filename='modernizr.custom.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <script src="{{ url_for('static', filename='peppuz.js') }}"></script>
  </head>
  <body id="main" onload="onLoadTheme()">
    <div class="section justify-content-center align-items-center text-center">
      <div class="container d-flex justify-content-center" style="color:inherit">
        <div class="row">
          <div class="mx-auto">
            <p id="tap" class="tap-me float-left pt-2 active">tap me ! ></p>
            <a onclick="showPickers()" class="">
              <img class="img-fluid image p-4 mx-0" src="{{url_for('static', filename='gear_white.png')}}"  style="width:100px; height:100px">
            </a>
            <a class="float-right" style="margin-left:-1rem" href="{{url_for('index')}}">
              <h1 class="pt-2" >Peppuz</h1>
            </a>
          </div>
          <div id="theme-div" class="hidden" >
            <div class="text-center">
              <p>Background HSL</p>
              <input class="" style="margin:2.25rem" id="bg-picker" oninput="changeTheme(this.value)" onchange="changeTheme(this.value)" type="range" min="0" max="360" value="#ff0000">
              <div class="">
                  <button type="button" class="" name="button" onclick=""> Black </button>
              </div>
            </div>

            <div class="container mt-1 p-3 text-center">
              <p>Text RGB</p>
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-r" onchange="changeText('r', this.value)" value="#ff0000">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-g" onchange="changeText('g', this.value)" value="#ff0000">
              <input class="col p-3 w-25" type="range" min="0" max="255" id="text-picker-b" onchange="changeText('b', this.value)" value="#ff0000">
            </div>

          </div>

          <!-- <input class="hidden" id="text-picker" oninput="changeText(this.value)" onchange="changeText(this.value)" type="range" name="slideRed" min="0" max="360"> -->

        </div>


      </div>

    {% if not img %}
        <a href="{{url_for('index')}}">
          <h1 class="color">QR Gen</h1>
        </a>
        <form action="#" method="POST" class="m-3">
          <input class="searchbar col-6" style="height:3rem" type="text" name="qr" placeholder=" > Type whatever string">
          <div class="mt-3">
              <button type="submit" name="button" class="qrcode"><i class="fa fa-qrcode fa-3x"></i></button>
          </div>
        </form>
    {% else %}
      <h1 class="center ">QR Gen </h1>
      <div class="center">
        <p class="white">Data: {{data}}</p>
        <img src="{{url_for('static', filename=img)}}">
        <a href="{{url_for('qrgen')}}" class="center btn mt-3">Another One!</a>

      </div>
    {% endif %}
    </div>
  </body>
</html>
